.imageLink{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.files {
    width: 150px;
    height: 150px;
    background-color: #898787;
    cursor: pointer;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.major {
    margin-top: 20px;
    -webkit-box-shadow: 7px 11px 29px -10px rgba(0,0,0,1);
-moz-box-shadow: 7px 11px 29px -10px rgba(0,0,0,1);
box-shadow: 7px 11px 29px -10px rgba(0,0,0,1);

}

.fileGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 30px;
    justify-content: flex-start;
    padding: 30px;
    

}

.title {
    font-weight: 700;
    color: #0f172a;
}