.Lottie {
    width: 50%;
    height: 80%;
    padding-top: 30px;
}

.text{
    font-weight: 400;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #0f172a;
    font-size: 50px;
    margin-left: 20px;
    width: 100%;
}
